/**
 * NOTE: the ordering of the css styles MATTERS
 * http://stackoverflow.com/questions/7080605/ordering-of-vendor-specific-css-declarations
 */
/* For modern browsers */
.clearfix:before, .story .s-details .kik-stats:before, .clearfix:after, .story .s-details .kik-stats:after {
  content: "";
  display: table; }

.clearfix:after, .story .s-details .kik-stats:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.clearfix, .story .s-details .kik-stats {
  zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.bold {
  font-weight: bold; }

.hide {
  display: none !important; }

.soft-hide {
  display: none; }

.invisible {
  visibility: hidden !important; }

.soft-invisible {
  visibility: hidden; }

.transparent {
  opacity: 0; }

.center {
  margin-left: auto;
  margin-right: auto; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

body {
  overflow-x: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.app-topbar {
  -webkit-box-shadow: 0 0 16px #ededed !important;
  -moz-box-shadow: 0 0 16px #ededed !important;
  box-shadow: 0 0 16px #ededed !important;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  font-weight: normal;
  border: 1px solid #EDEDED;
  width: 100%;
  margin: 0px; }

.app-content {
  background: #fffef1 url(sos.png);
  color: black;
  padding: 20px;
  position: relative;
  top: -50px;
  padding: 30px 50px; }

.story {
  padding: 0px;
  margin-bottom: 20px;
  background: #fff;
  text-align: center;
  border: 1px solid #EDEDED;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }
  .story .image {
    width: 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .story .s-details {
    padding: 0px 10px;
    background-color: white;
    margin-top: -6px;
    position: relative; }
    .story .s-details .title {
      font-size: 18px;
      color: #4D4D4D;
      font-weight: bold;
      padding: 5px 0px; }
    .story .s-details .source {
      padding-top: 15px;
      max-width: 90px; }
    .story .s-details .kik-stats {
      padding: 10px;
      border-top: 1px solid #EDEDED; }
      .story .s-details .kik-stats .kik-it {
        padding-left: 10px;
        border-left: 1px solid #EDEDED;
        font-weight: bold;
        font-size: 20px;
        background: black; }
      .story .s-details .kik-stats .kik-img {
        width: 100px; }
