@import "mixins";
@import "core";

body {
  overflow-x:hidden; 
  @include border-box-sizing;
}

.app-topbar {
  @include box-shadow(none !important);
  background: white;
  color: black;
  font-weight: normal;  
  border: 1px solid #EDEDED;
  @include border-radius(2px);
  @include box-shadow(0 0 16px  #EDEDED);  
  width: 100%;
  margin: 0px;

}

.app-content {
  background: #fffef1 url(sos.png);
  color: black;
  padding: 20px;
}

.story {
  padding: 0px;
  margin-bottom: 20px;
  background: #fff; 
  text-align: center;
  border: 1px solid #EDEDED;
  @include border-radius(5px);
  @include box-shadow(0 1px 4px rgba(0,0,0,.3)); 

  .image {
    width: 100%;
    @include border-radius(4px);      
    @include border-box-sizing;      
  }

  .s-details {
    padding: 10px;
    background-color: white;
    margin-top: -6px;
    position: relative;
   .title {
     font-size:30px;
     color: #4D4D4D;
     font-weight: bold;
   }      

   .kik-stats {
     @extend .clearfix;
   }     
  } 
}



