/**
 * NOTE: the ordering of the css styles MATTERS
 * http://stackoverflow.com/questions/7080605/ordering-of-vendor-specific-css-declarations
 */
/* For modern browsers */
.clearfix:before, .story .s-details .kik-stats:before, .clearfix:after, .story .s-details .kik-stats:after {
  content: "";
  display: table; }

.clearfix:after, .story .s-details .kik-stats:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.clearfix, .story .s-details .kik-stats {
  zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.bold {
  font-weight: bold; }

.hide {
  display: none !important; }

.soft-hide {
  display: none; }

.invisible {
  visibility: hidden !important; }

.soft-invisible {
  visibility: hidden; }

.transparent {
  opacity: 0; }

.center {
  margin-left: auto;
  margin-right: auto; }

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px; }

body {
  font-family: 'Raleway', sans-serif !important;
  overflow-x: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.app-topbar {
  -webkit-box-shadow: 0 0 16px #ededed !important;
  -moz-box-shadow: 0 0 16px #ededed !important;
  box-shadow: 0 0 16px #ededed !important;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-weight: normal;
  border: 1px solid #EDEDED;
  width: 100%;
  margin: 0px;
  font-weight: bold;
  opacity: 0.90; }

.app-content {
  background: #fffef1 url(sos.png);
  color: black;
  padding: 20px;
  position: relative;
  top: -50px;
  padding: 55px 25px; }

.story {
  position: relative;
  padding: 0px;
  margin-bottom: 20px;
  text-align: center; }
  .story .image-container {
    position: relative; }
    .story .image-container .image {
      width: 100%;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    .story .image-container .source {
      max-width: 90px;
      max-height: 15px;
      position: absolute;
      top: 10px;
      right: 10px; }
  .story .title {
    font-size: 18px;
    color: #4D4D4D;
    padding: 10px 10px;
    width: 93%;
    margin: 0px auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background: #e6e6e6 url("//d36xtkk24g8jdx.cloudfront.net/bluebar/498850c/images/bg/white-gradient-100px.png") repeat-x 50% 50%;
    border: 1px solid #EDEDED; }
  .story .s-details {
    background-color: white;
    position: relative;
    margin: 0px auto;
    width: 93%;
    top: -4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #EDEDED; }
    .story .s-details .kik-stats {
      height: 40px;
      background: #e6e6e6 url("//d36xtkk24g8jdx.cloudfront.net/bluebar/498850c/images/bg/white-gradient-100px.png") repeat-x 50% 50%;
      padding: 0px; }
      .story .s-details .kik-stats .kik-it {
        padding: 4px 15px 0px 15px;
        border-left: 1px solid #ddd;
        -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9);
        -moz-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9);
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.9); }
      .story .s-details .kik-stats .kik-img {
        height: 30px; }
