<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,
                                   maximum-scale=1.0,
                                   user-scalable=no">
    <link rel="stylesheet" href="http://cdn.kik.com/app/1/default.css">
    <style>
      <link rel="stylesheet" href="/static/feed.css" />
    </style>
  </head>
  <body>
    Hello World {{ name }}
    <!-- put your pages here -->
    <script src="http://zeptojs.com/zepto.min.js"></script>
    <script src="http://cdn.kik.com/app/1/app.js"></script>
    <script src="/static/feed.js"></script>
  </body>
</html>